<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<h1>Create a new post</h1>

<form action="/create_done" method="POST" id = "form">
    <label for="title1">Title:</label>
    <input type="text" id="title1" name="title1"><br><br>
	
    <label for="content1">Content:</label>
    <input type="text" id="content1" name="content1"><br><br>
	
	<input type="hidden" id="id2" name="id2" value={{hashedcode}}>
	
    <input type="submit" value="Submit">
</form>

<p>Click on the submit button to submit.</p>

</body>
</html>