<!DOCTYPE html>
<html>
<head>
	<link href={{ url_for('static', filename='../styles/view21.css') }} rel="stylesheet"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% for key,value in data.items() %}
<script>
$(document).ready(function() { 
		$('#hi1{{key[1]}}').on('submit',function(event) { 
			$.ajax({
			data : {
				postid : $('#post11{{key[1]}}').val()
			},
			type : 'POST',
			url : '/delete'
		})
		.done(function(data) {

			if (data.error) {
				alert("Post deleted.")
			}
			else {
				$('#tr{{key[1]}}').fadeOut(1000);
			}
		});

		event.preventDefault();
	}); 
}); 
</script>
{% endfor %}

<!-- <style> -->
<!-- table { -->
  <!-- font-family: arial, sans-serif; -->
  <!-- border-collapse: collapse; -->
  <!-- width: 100%; -->
<!-- } -->

<!-- td, th { -->
  <!-- border: 1px solid #dddddd; -->
  <!-- text-align: left; -->
  <!-- padding: 8px; -->
  <!-- width: 50%; -->
<!-- } -->

<!-- tr:nth-child(even) { -->
  <!-- background-color: #dddddd; -->
<!-- } -->
<!-- </style> -->
</head>
<body>
<a href="/{{hashedcode}}/feed">
<img src="{{ url_for('static', filename='../styles/pic/logo.jpg') }}" alt="logo" style="width:120px;height:42px;">
</a>
<a href="/{{hashedcode}}/profile" style="float:right">{{name2}}</a>
<br>
<h2>Profile Page</h2>
<a href="/{{hashedcode}}/create">Create New post</a>

<br><br>

<table>
  <tr>
	<th>Title</th>
    <th>Content</th> 
  </tr>
{% for key,value in data.items() %}
  
  <tr id='tr{{key[1]}}'>
    <td><a href="/posts/{{key[1]}}/{{hashedcode}}">{{key[0]}}</td>
    <td>{{value}}</td>
	<td>
	<form id='hi1{{key[1]}}' class="form-inline">
	<input type="hidden" id="post11{{key[1]}}" name="count22" value={{key[1]}}>
	<button type="submit">Delete</button></form></td>
	<!-- <td><a href="/posts/{{key[1]}}">VIEW</a></td> -->
  </tr>
{% endfor %}
</table>

</body>
</html>
