<!DOCTYPE html>
<html>
<head>
	<link href={{ url_for('static', filename='../static/styles/view21.css') }} rel="stylesheet"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% for key,value in data.items() %}
<script>
$(document).ready(function() { 
		
		$('#{{pagenum}}').attr("class", "active");
		$('#hi1{{key[1]}}').on('submit',function(event) { 
		if (confirm('Do you want to delete the post {{key[0]}}?')) {
			$.ajax({
			data : {
				postid : $('#post11{{key[1]}}').val()
			},
			type : 'POST',
			url : '/delete'
		})
		.done(function(data) {

			if (data.error) {
				alert("Post deleted.")
			}
			else {
				$('#tr{{key[1]}}').fadeOut(1000);
			}
		});

		event.preventDefault();
		}
		// <!-- else -->
		// <!-- { -->
		// 	<!-- alert('Post not deleted.') -->
		// <!-- } -->
	}); 
	 
}); 
</script>
{% endfor %}

{% for key,value in dict9.items() %}
<script>
$(document).ready(function() { 
		$('#{{value}}').attr("style", "display:none;");
}); 
</script>
{% endfor %}



<!-- <style> -->
<!-- table { -->
  <!-- font-family: arial, sans-serif; -->
  <!-- border-collapse: collapse; -->
  <!-- width: 100%; -->
<!-- } -->

<!-- td, th { -->
  <!-- border: 1px solid #dddddd; -->
  <!-- text-align: left; -->
  <!-- padding: 8px; -->
  <!-- width: 50%; -->
<!-- } -->

<!-- tr:nth-child(even) { -->
  <!-- background-color: #dddddd; -->
<!-- } -->
<!-- </style> -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
<a href="/{{hashedcode}}/feed/1">
<img src="{{ url_for('static', filename='../static/pic/logo.jpg') }}" alt="logo" style="width:120px;height:42px;">
</a>
<a href="/{{hashedcode}}/profile/1" style="float:right">{{name2}}</a>
<br>

<div class="container">


<h2>Profile Page</h2>
<img src="{{filename1}}" alt="Profile Pic" style="width:220px;height:142px; float: right;">
<br><a href="/{{hashedcode}}/create">Create New post</a>

<br><br>

<table>
  <tr>
	<th>Title</th>
	<th>Content</th>
	<th>Time</th>
	<th>Vote Count</th>
	<th>Delete</th>
  </tr>
{% for key,value in data.items() %}
  
  <tr id='tr{{key[1]}}'>
    <td><a href="/posts/{{key[1]}}/{{hashedcode}}">{{key[0]}}</td>
    <td>{{value[0]}}</td>
	<td>{{value[2]}} hour(s) ago</td>
	<td>{{value[1]}}</td>
	<td>
	<form id='hi1{{key[1]}}' class="form-inline">
	<input type="hidden" id="post11{{key[1]}}" name="count22" value={{key[1]}}>
	<button type="submit">Delete</button></form></td>
	<!-- <td><a href="/posts/{{key[1]}}">VIEW</a></td> -->
  </tr>
{% endfor %}
</table>

<nav aria-label="Page navigation">
	<ul class="pagination justify-content-center">
	  <li class="page-item" id=1><a class="page-link" href="/{{hashedcode}}/profile/1">1</a></li>
	  <li class="page-item" id=2><a class="page-link" href="/{{hashedcode}}/profile/2">2</a></li>
	  <li class="page-item" id=3><a class="page-link" href="/{{hashedcode}}/profile/3">3</a></li>
	  <li class="page-item" id=4><a class="page-link" href="/{{hashedcode}}/profile/4">4</a></li>
	  <li class="page-item" id=5><a class="page-link" href="/{{hashedcode}}/profile/5">5</a></li>
	  <li class="page-item" id=6><a class="page-link" href="/{{hashedcode}}/profile/6">6</a></li>
	  <li class="page-item" id=7><a class="page-link" href="/{{hashedcode}}/profile/7">7</a></li>
	  <li class="page-item" id=8><a class="page-link" href="/{{hashedcode}}/profile/8">8</a></li>
	  <li class="page-item" id=9><a class="page-link" href="/{{hashedcode}}/profile/9">9</a></li>
	  <li class="page-item" id=10><a class="page-link" href="/{{hashedcode}}/profile/10">10</a></li>
	</ul>
  </nav>

</div>

</body>
</html>
