<!DOCTYPE html>
<html>
<head>
	<link href={{ url_for('static', filename='../styles/view21.css') }} rel="stylesheet"/>
<!-- <style> -->
<!-- table { -->
  <!-- font-family: arial, sans-serif; -->
  <!-- border-collapse: collapse; -->
  <!-- width: 100%; -->
<!-- } -->

<!-- td, th { -->
  <!-- border: 1px solid #dddddd; -->
  <!-- text-align: left; -->
  <!-- padding: 8px; -->
  <!-- width: 50%; -->
<!-- } -->

<!-- tr:nth-child(even) { -->
  <!-- background-color: #dddddd; -->
<!-- } -->
<!-- </style> -->
</head>
<body>

<h2>Profile Page</h2>
<a href="/{{hashedcode}}/create">Create New post</a>
<br><br>

<table>
  <tr>
	<th>Title</th>
    <th>Content</th> 
  </tr>
{% for key,value in data.items() %}
  
  <tr>
    <td>{{key[0]}}</td>
    <td>{{value}}</td>
	<td><a href="/posts/{{key[1]}}">VIEW</a></td>
  </tr>
{% endfor %}
</table>

</body>
</html>
