table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 50%;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row-title {width: 30%;}

.row-content {
  width: 50%;
}

.row-delete {
  width: 20%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* body { */
  /* background-color: powderblue; */
/* } */